<h3>More Filters:</h3>
  <label class="filter-options">
    <input type="button" name="options" class="all"> Show All
  </label>
  <label class="filter-options">
    <input type="button" name="options" class="filter-read"> Show Read
  </label>
  <label class="filter-options">
    <input type="button" name="options" class="filter-unread"> Show Unread
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" id="sort-alphabetically"> Sort Link Titles Alphabetically
  </label>
