<h3> Filters:</h3>
  <label class="filter-selection">
    <input type="button" name="selection" class="all"> Show All
  </label>
  <label class="filter-selection">
    <input type="button" name="selection" class="filter-read"> Show Read
  </label>
  <label class="filter-selection">
    <input type="button" name="selection" class="filter-unread"> Show Unread
  </label>
